name: Build and Publish CV

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.yaml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install RenderCV
        run: |
          pip install "rendercv[full]"
          
      - name: Render CV
        run: rendercv render Mihai_Ciocan_CV.yaml

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: CV-Artifacts
          path: rendercv_output/
          
      - name: Get Current Date
        id: date
        run: echo "date=$(date +'%Y.%m.%d')" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main'
        with:
          tag_name: v${{ steps.date.outputs.date }}
          name: Release ${{ steps.date.outputs.date }}
          draft: false
          prerelease: false
          files: |
            rendercv_output/*.pdf
            rendercv_output/*.png
